print ('hello, word')
print ('Olá, mundo')
print ("eu sou bom")
print ('1'+'1')

# permite comentario (#unico que realmente é comentario)
""" doc string, o interpretador lê mas não imprime
Usado para fazer notas """

''' aspas simpres ou duplas (servem no python)'''

print(123)
